{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "your-firebase-project",
    "storage_bucket": "your-firebase-project.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.epaperspace.publisher"
        }
      },
      "oauth_client": [
        {
          "client_id": "000000000000-REPLACE_WITH_ANDROID_OAUTH_CLIENT.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.epaperspace.publisher",
            "certificate_hash": "REPLACE_WITH_YOUR_SIGNING_CERT_SHA1"
          }
        },
        {
          "client_id": "000000000000-REPLACE_WITH_WEB_OAUTH_CLIENT.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "000000000000-REPLACE_WITH_WEB_OAUTH_CLIENT.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
